
<div class="modal fade" id="modal" >
    <div class="modal-dialog">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title">Информация</h5>
            </div>

            <div class="modal-body">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger m-2" data-bs-dismiss="modal">Закрыть</button>
                <button asp-controller="Booking" asp-action="ShowBookings" type="button" class="btn btn-success m-2" id="saveBtn">Сохранить</button>
            </div>
        </div>
    </div>
</div>

