<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a asp-controller="Booking" asp-action="ShowBookings" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>TK_web</h3>
        </a>
        
        <div class="navbar-nav w-100">

            <a asp-controller="Booking" asp-action="ShowBookings" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Бронирование</a>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-th me-2"></i>Снаряжение</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a asp-controller="Equipment" asp-action="ShowEquipments" class="dropdown-item">Снаряжение</a>
                    <a asp-controller="EquipmentType" asp-action="ShowEquipmentTypes" class="dropdown-item">Типы снаряжения</a>
                    <a asp-controller="EquipmentPlace" asp-action="ShowEquipmentPlaces" class="dropdown-item">Склады</a>
                </div>
            </div>

            <a asp-controller="Event" asp-action="ShowEvents" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Мероприятия</a>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Участники</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a asp-controller="Participant" asp-action="ShowParticipants" class="dropdown-item">Участники</a>
                    <a asp-controller="Group" asp-action="ShowGroups" class="dropdown-item">Группы</a>
                    <a asp-controller="Position" asp-action="ShowPositions" class="dropdown-item">Должности</a>
                </div>
            </div>

        </div>
    </nav>
</div>